#!/bin/bash

source "{{ java_base_dir }}/scripts/java_environment.sh"
TIMESTAMP=`date +"%Y%m%d_%H%M%S"`
LOGFILE="/tmp/eclipse_${TIMESTAMP}.log"
cd "{{ java_base_dir}}/bin/eclipse"
./eclipse>"${LOGFILE}" 2>&1 &
