<!DOCTYPE Menu PUBLIC '-//freedesktop//DTD Menu 1.0//EN' 'http://www.freedesktop.org/standards/menu-spec/1.0/menu.dtd'>
<Menu>
 <Menu>
  <Name>Development</Name>
  <Layout>
   <Merge type="files"/>
   <Filename>Eclipse.desktop</Filename>
   <Merge type="menus"/>
   <Menuname>Translation</Menuname>
   <Menuname>Web Development</Menuname>
  </Layout>
  <Include>
   <Filename>Eclipse.desktop</Filename>
  </Include>
 </Menu>
</Menu>
