[Desktop Entry]
Comment=
Exec={{ java_base_dir }}/scripts/eclipse.sh
GenericName=Eclipse
Icon={{ java_base_dir }}/bin/eclipse/icon.xpm
Name=Eclipse
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
